.side-bar
  .header
    %h2.header__user-name yousukehirai
    %ul.edit-list
      %li.edit-list__new
        = fa_icon("edit")
      %li.edit-list__edit
        = fa_icon("gear")
  .groups
    .group 
      %h3.group__group-name sample
      %p.group__group-log Goodbye World

      %h3.group__group-name sampleグループ
      %p.group__group-log まだメッセージがありません
      