$side-bar_width  : 300px;
$header_height  : 100px;
$chat-form_height : 90px;
$send-btn_width : 100px;
$send-btn_height : 50px;

$btn_color : #38aef0;
$chat_background-color: #fafafa;
$chat-text_color : #434a54;
$form_background-color: #ddd;
