.main {
  .chat {
    @include div_basic(null, calc(100% - #{$header_height} - #{$chat-form_height}), $chat_background-color);
    overflow: scroll;
    padding:46px 40px 0;
    .message {
      padding-bottom: 40px;
      &__name {
        @include font_basic(16px, bold);
        float: left;
      }
      &__date {
        @include font_basic(#999999, 12px);
        display: inline-block;
        vertical-align: super;
        margin-left: 10px;
      }
      &__body {
        @include font_basic(14px);
        margin: 10px 0;
      }
      &__image {
      }
    }
  }
}