.main {
  @include div_basic(calc(100% - #{$side-bar_width}));
  margin-left: $side-bar_width;
  .header {
    @include div_basic(100%, $header_height);
    padding: 0 40px;
    border-bottom: solid 1px #eeeeee;
    .group-info {
      float: left;
      margin-top: 35px;
      &__group-name {
        @include font_basic(#333333, 13px);
      }
      .members {
        margin-top: 15px;
        &__member {
          @include font_basic(#999999);
          float: left;
        }
        &__member li {
          padding-left: 5px;
        } 
      }
    }
    .edit-btn {
      @include div_basic(null, 40px);
      float: right;
      padding: 0 20px;
      margin-top: 28px;
      border: solid 1px $btn_color ;
      padding-top: 6px;
      &__btn-text {
        @include font_basic($btn-color, null, null, 40px);
          &--link:link, &--link:visited {
          color: $btn-color;
          text-decoration: none;
          }
      }
    }
  }
}
