.side-bar {
  float: left;
  .header {
    @include div_basic($side-bar_width, $header_height, #253141);
    padding: 0 20px;
    &__user-name {
      @include font_basic(#ffffff, 16px, bold, $header_height);
      float: left;
    }
    .edit-list {
      @include font_basic(#ffffff, 16px, $header_height);
      float: right;
      height: 100px;
      display: flex;
      line-height: 100px;
      &__new {
        float: right;
      }
      &__edit {
        float: right;
        margin-left: 10px;
      }
    }
  }

  .groups {
    @include div_basic($side-bar_width, calc(100vh - 100px), #2f3e51);
    @include font_basic(#ffffff, 15px);
    overflow: scroll;
    .group {
      padding: 20px;
      &__group-log {
      font-size: 11px;
      margin-top: 5px;
      }
    }
  }
}
